body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: blue;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.weather-app-border {
  border: 1px solid black;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.overview {
  margin-bottom: 20px;
}

.weather-icon {
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.temperature {
  font-size: 55px;
  font-weight: 400;
  line-height: 1px;
  padding: 50px;
}

.units {
  margin-left: 0%;
  position: relative;
  top: -28px;
  text-decoration: none;
}

.search-form {
  margin-top: 5px;
  margin-bottom: 40px;
}

.button {
  position: relative;
  padding-top: 10px;
}
